<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Books Status</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>מצב הספרים</h1>
    <a th:href="@{/}">בדיקת ספרים ידנית</a>
</header>
<div class="container">
  <div class="status-tables">
    <div th:each="brand: ${brands}" class="tables-container">
        <h2 th:text="${brand.brandName}"></h2>
        <img th:src="@{${brand.logoPath}}" alt="${brand.brandName}">
        <table  class="brand-table">
            <tr>
                <th>מס' רישוי</th>
                <th>רשימת מרכזי שירות</th>
                <th>חוברת אחריות</th>
                <th>טיפולים</th>
                <th>מולטימדיה</th>
                <th>תקציר</th>
                <th>ספר רכב</th>
                <th>שם הדגם</th>
            </tr>
            <tr th:each="model: ${brand.carModels}">
                <td> <a th:href="@{${brand.baseUrl+model.licenceNumber}}" th:text="${model.licenceNumber}" target="_blank"></a></td>
                <th:block th:switch="${model.serviceListBook}">
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).PRESENT}" class="present">ספר נמצא</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).MISSING}" class="missing">ספר חסר</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).CHANGED}" class="changed">הקישור השתנה</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).NOT_REQUIRED}" class="not-required">לא נדרש</td>
                </th:block>
                <th:block th:switch="${model.guarantyBook}">
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).PRESENT}" class="present">ספר נמצא</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).MISSING}" class="missing">ספר חסר</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).CHANGED}" class="changed">הקישור השתנה</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).NOT_REQUIRED}" class="not-required">לא נדרש</td>
                </th:block>
                <th:block th:switch="${model.maintenanceBook}">
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).PRESENT}" class="present">ספר נמצא</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).MISSING}" class="missing">ספר חסר</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).CHANGED}" class="changed">הקישור השתנה</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).NOT_REQUIRED}" class="not-required">לא נדרש</td>
                </th:block>
                <th:block th:switch="${model.multimediaBook}">
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).PRESENT}" class="present">ספר נמצא</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).MISSING}" class="missing">ספר חסר</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).CHANGED}" class="changed">הקישור השתנה</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).NOT_REQUIRED}" class="not-required">לא נדרש</td>
                </th:block>
                <th:block th:switch="${model.shortBook}">
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).PRESENT}" class="present">ספר נמצא</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).MISSING}" class="missing">ספר חסר</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).CHANGED}" class="changed">הקישור השתנה</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).NOT_REQUIRED}" class="not-required">לא נדרש</td>
                </th:block>
                <th:block th:switch="${model.fullBook}">
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).PRESENT}" class="present">ספר נמצא</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).MISSING}" class="missing">ספר חסר</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).CHANGED}" class="changed">הקישור השתנה</td>
                    <td th:case="${T(com.example.bookchecker.model.dto.BookStatus).NOT_REQUIRED}" class="not-required">לא נדרש</td>
                </th:block>
                <th th:text="${model.name}">1st period</th>
            </tr>
        </table>
    </div>

  </div>
  
</div>



</body>
</html>